/***
General
***/

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 50px 0 0 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
}

.content {
  flex: 1 0 auto;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/***
Typography
***/

h1 {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  color: #182628;
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 25px;
}

h2 {
  font-family: 'Rubik', sans-serif;
  color: #182628;
  font-size: 1.5em;
  margin-bottom: 0px;
  margin-bottom: 10px;
  margin-top: 20px;
  }

h3{
  font-family: 'Rubik', sans-serif;
  color: #3b945e;
  font-size: 1.3em;
  margin-bottom: 10px;
  margin-top: 0px;
}

h4{
  font-family: 'Rubik', sans-serif;
  color: #182628;
  font-size: 1.1em;
  margin-bottom: 10px;
  margin-top: 0px;
}

p {
font-family: 'Source Sans Pro', sans-serif;
font-size: 1.2em;
color: #182628;
}

/***
Buttons and links
***/

a {
  color: #182628;
  font-family: 'Source Sans Pro', sans-serif;
}

a:active {
  color: #182628;
}

a:visited {
  color: #182628;
}

a:hover {
  color: #57ba98;
  text-decoration: none;
  background-color: transparent;
}

.back_link {
  margin-top: 50px;
  margin-bottom: 25px;
}

.back_link a {
  color: #3b945e;
}

.back_link a:hover {
  color: #57ba98;
}

.btn-primary {
  background-color: #3b945e;
  border: none;
  border-radius: 0;
}

.stripe-button-el {
  margin-top: 10px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:focus-within,
.btn-primary:visited,
.btn-primary:active
.btn-primary:active:focus {
  background-color: #57ba98;
  box-shadow: none;
}
.btn:active:focus {
  background-color: #57ba98;
  box-shadow: none;
}

/***
Navigation
***/

.navbar {
  background-color: #f2f2f2;
  border-bottom: none;
}

.projectName a {
  color: #3b945e;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1em;
}

.navbar-inverse .navbar-nav>li>a {
  color: #182628;
  transition: color 300ms;
  -webkit-transition: color 300ms;
  font-size: 1.1em;
  font-family: 'Rubik', sans-serif;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  color: #57ba98;
  background-color: #f2f2f2;
}

.navbar-inverse .navbar-toggle {
  background-color: #fff;
  border: none;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus, {
  background-color: #fff;
  border: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #182628;
}

.navbar-form {
  margin: 0;
  padding: 0;
}

.q {
  height: 50px;
  border: none;
  padding: 10px;
  font-size: 1em;
  font-family: 'Rubik', sans-serif;
  width: 100%;
}

.inner-addon {
    position: relative;
}

.cart {
  background-color: #57ba98;
}

.navbar-inverse .navbar-nav > .cart > a:hover {
  color:white;
  background-color: #57ba98;
}

.glyphicon {
  margin-right: 8px;
}

.inner-addon .glyphicon {
  position: absolute;
  pointer-events: none;
  margin-top: 18px;
  padding-right: 10px;
}

.right-addon .glyphicon { right: 0px;}

.navbar .login {
  font-size: 0.8em;
}

/***
Footer
***/

footer {
  flex-shrink: 0;
  background-color: white;
  height: 50px;
  margin-top: 50px;
  padding: 5px 15px 5px 15px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/***
Homepage
***/

.jumbotron {
  background-color: white;
}

.jumbotron-image {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.carousel-inner {
  background-color: white;
}

.carousel-inner > .item > img {
margin:auto;
padding: 25px;
}

.carousel-control.left,
.carousel-control.right {
  background: none;
  opacity: 1;
}

.carousel-control.left:hover,
.carousel-control.right:hover {
  background: none;
  opacity: 1;
}

.carousel-control .glyphicon {
  color: #182628;
  opacity: 1;
}

.carousel-control .glyphicon:hover {
  color: #57ba98;
}

.carousel-indicators li {
  background-color: #182628;
}

.carousel-indicators li:hover {
  background-color: #57ba98;
}

.carousel-indicators li.active {
  background-color: #57ba98;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    text-shadow: none;
    margin-bottom: 10px;
}

.headline_landingpage {
  margin-top: 25px;
}

/***
Product overview
***/

.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.list-item {
  display: flex;
  padding: 0.5em;
	width: 100%;
}

.list-content img {
  align-self: center;
}

.list-content {
   display: flex;
   flex-direction: column;
   background-color: #fff;
   padding: 1em;
   width: 100%;
}

.list-content strong {
   margin-top: auto;
   color: #182628;
}

.list-content strong:hover {
   color: #182628;
}

.list-content p:hover {
  color: #182628;
}

.product_image {
  margin-bottom: 25px;
}

.product_link {
  text-align: center;
  margin-top: 50px;
}

.product_link a {
  color: #3b945e;
}

.product_link a:hover {
  color: #57ba98;
}

/***
Product details
***/

.product_detail {
  margin-bottom: 25px;
 }

.product_detail_imagebox {
  display: flex;
  background-color: white;
  width: 100%;
  align-items: center;
  flex-direction: column;
  }

  #product_description {
    height: 150px;
  }

  .login_to_buy {
    margin-top: 15px;
  }

/***
Comments
***/

.rating, .rated {
  margin-bottom: 10px;
}

.comment {
  margin-top: 25px;
}

.comment-control {
  resize: none;
}

.pagination {
  font-family: 'Source Sans Pro', sans-serif;
  background: white;
  cursor: default;
}

.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 3px; }

.pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd; }

.pagination .current {
  font-style: normal;
  background: #3b945e;
  color: white;
  border: 1px solid #3b945e; }

.pagination a {
  text-decoration: none;
  color: #3b945e;
  border: 1px solid #3b945e; }

.pagination a:hover, .pagination a:focus {
  color: #57ba98;
  border-color: #57ba98; }

/***
Forms
***/

label {
  font-weight:normal;
  font-family: 'Source Sans Pro', sans-serif;
}

.form-control {
  border-radius: 0;
}

.alert {
  margin: 0px;
}

.alert-success {
  background-color: #3b945e;
  color: white;
  border-radius: 0px;
  border: none;
}

.alert-warning {
  background-color: #af2141;
  border-radius: 0px;
  color: white;
  border: none;
}

.login-form {
  width: 340px;
  margin: 50px auto;
}

.remember_me {
  font-weight: normal;
}

#error_explanation {
  border: none;
  background-color: #af2141;
  padding: 20px;
  width: auto;
}

#error_explanation h2 {
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: white;
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
}

#error_explanation ul li {
    font-size: 0.9em;
    list-style: none;
    color: white;
}

.field_with_errors {
  background-color: transparent;
}

.field_with_errors label{
  color: #af2141;
}

.field_with_errors .form-control{
  border-color: #af2141;
  border-width: 2px;
  width: 100%;
}

/***
Media queries
***/

@media (min-width: 992px) {
 h2 {
   margin-top: 0px;
 }

 .projectName a {
   font-size: 1.2em;
 }

 .navbar-inverse .navbar-nav>li>a {
   font-size: 1.2em;
 }

 .navbar .login {
   font-size: 0.9em;
 }
}

@media (max-width: 767px) {
  .navbar .login {

  }
}

@media all and (min-width: 40em) {
  .list-item {
    width: 50%;
  }
}

@media all and (min-width: 60em) {
  .list-item {
    width: 33.33%;
  }
}
