/***
General
***/

* {
  box-sizing: border-box;
}

body {
  margin: 50px 0 0 0;
  background-color: #f2f2f2;
}

p {
font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #182628;
}

a:active {
  color: #182628;
}

a:visited {
  color: #182628;
}

a:hover {
  color: #182628;
  text-decoration: none;
  background-color: transparent;
}

h1 {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  color: #182628;
  font-size: 2em;
  margin-top: 100px;
  margin-bottom: 50px;
}

h2 {
  font-family: 'Rubik', sans-serif;
  color: #182628;
  font-size: 1.5em;
  margin-bottom: 0px;

}

/***
Navigation
***/

.navbar {
  background-color: #f2f2f2;
  border-bottom: none;
}

.projectName a {
  color: #3b945e;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
}

.navbar-inverse .navbar-nav>li>a {
  color: #182628;
  transition: color 300ms;
  -webkit-transition: color 300ms;
  font-size: 1.2em;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  color: #57ba98;
}

.navbar-inverse .navbar-toggle {
  background-color: #fff;
  border: none;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus, {
  background-color: #fff;
  border: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #182628;
}

.cart {
  background-color: #57ba98;
}

.navbar-inverse .navbar-nav > .cart > a:hover {
  color:white;
}

.glyphicon {
  margin-right: 8px;
}

/***
Content
***/

.jumbotron {
  background-color: white;
}

.jumbotron-image {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.product_cell {
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.image_container {
  align-self: center;
}

.carousel-inner {
  background-color: white;
}

.carousel-inner > .item > img{
margin:auto;
padding: 25px;
}

.carousel-control.left,
.carousel-control.right {
  background: none;
  opacity: 1;
}

.carousel-control.left:hover,
.carousel-control.right:hover {
  background: none;
  opacity: 1;
}

.carousel-control .glyphicon {
  color: #182628;
  opacity: 1;
}

.carousel-control .glyphicon:hover {
  color: #57ba98;
}

.carousel-indicators li {
  background-color: #182628;
}

.carousel-indicators li:hover {
  background-color: #57ba98;
}

.carousel-indicators li.active {
  background-color: #57ba98;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    text-shadow: none;
    margin-bottom: 10px;
}

/***
Footer
***/

footer {
  display: flex;
  background-color: white;
  height: 50px;
  margin-top: 50px;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px 15px 5px 15px;
}
