/***
General
***/

* {
  box-sizing: border-box;
}

body {
  margin: 50px 0 0 0;
}

p {
font-family: 'Source Sans Pro', sans-serif;
}

a:hover {
  text-decoration: none;
  background-color: white;
}

h1 {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  color: #182628;
  font-size: 2em;
  margin-top: 100px;
}

/***
Navigation
***/

.navbar {
  background-color: white;
  border-bottom: none;
}

.projectName a {
  color: #3b945e;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
}

.navbar-inverse .navbar-nav>li>a {
  color: #182628;
  transition: color 300ms;
  -webkit-transition: color 300ms;
  font-size: 1.2em;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  color: #57ba98;
}

.navbar-inverse .navbar-toggle {
  background-color: #fff;
  border: none;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus, {
  background-color: #fff;
  border: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #182628;
}

.cart {
  background-color: #57ba98;
}

.navbar-inverse .navbar-nav > .cart > a:hover {
  color:white;
}

.glyphicon {
  margin-right: 8px;
}

/***
Content
***/

.jumbotron {
  background-color: white;
}

.jumbotron-image {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

/***
Footer
***/

footer {
  display: flex;
  background-color: #f2f2f2;
  height: 50px;
  margin-top: 50px;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px 15px 5px 15px;
}
